pve_api_url = "https://192.168.100.1:8006/api2/json"
pve_api_token_id = "terraform@pam!iac"
pm_api_token_secret = "PUT_SECRET_HERE"

target_node = "pve"
template_name = "ubuntu-2204-template"

bridge = "vnet1"
gateway = "192.168.100.1"
cidr = 24

ssh_public_key = "/root/.ssh/homelab_admin.pub"

control_plane = {
  vmid = 500
  name = "k3s-control-plane"
  ip = "192.168.100.50"
  cores = 1
  memory = 2048
  disk_gb = 20
}

worker_nodes = [
  {
    vmid = 501
    name = "k3s-worker-node-1"
    ip = "192.168.100.51"
    cores = 2
    memory = 4096
    disk_gb = 30
  },
  {
    vmid = 502
    name = "k3s-worker-node-2"
    ip = "192.168.100.52"
    cores = 2
    memory = 4096
    disk_gb = 30
  },
]

