pve_api_url = "https://192.168.100.1:8006/api2/json"
pve_api_token_id = "terraform@pam!iac"
pve_api_token_secret = "PUT_SECRET_HERE"

target_node = "pve"
hostname = "iac-control"
ostemplate = "local:vztmpl/ubuntu-22.04-standard_22.04-1_amd64.tar.zst"
vmid = 200

bridge = "vnet1"
ip = "192.168.100.20/24"
gateway = "192.168.100.1"

ssh_public_key = "/root/.ssh/homelab_admin.pub"

